//* PRIMARY COLORS
$burgundy: (100: #97144D, 90: #A12C5F, 80: #AC4371, 70: #B65B82, 60: #C17294, 50: #CB8AA6, 40: #D5A1B8, 30: #E0B9CA, 20: #EAD0DB, 10: #F5E8ED);

$white: #C1C7CD;

$charcoal: #282828;

//* SECONDARY COLORS
$pink: (100: #ED1164, 80: #F14687, 60: #F9B0CC, 40: #F9B0CC, 20: #FDE5EE);

$grey: (100: #404040, 90: #575757, 80: #6E6E6E, 70: #858585, 60: #9D9D9D, 50: #B4B4B4, 40: #CBCBCB, 30: #E2E2E2, 20: #F1F1F1, 10: #F9F9F9);

//* TERITIARY COLORS
$red: #FF2121;

$green: #1FC24E;

$yellow: #FEC600;

$orange: #F17F22;

$snackblue: #145599;

$purple: #9911ED;

$aqua-deep:(100: #12877F, 60: #71b7b2);

$aqua-haze-1: #F2F7F6;

$aqua-haze-2: #E6F8F4;

//* NEUTRAL
$neutral-lightblue:  #F1F4F7;

$neutral-orange: #F9F6EB;

$neutral-green: #EFF9EB;

$neutral-blue: #EBF0F9;

$neutral-red: #F9EBEF;


// $red: (100: #C52817, 80: #FF2121);

// $green: (100: #1FC24E, 80: #3ABF2D);

// $yellow: #F2C730;

// $aqua: #12877F;

// $blue: #145599;
