/// PRIMARY COLORS
/// @group primary-colors
$burgundy: (100: #97144D, 90: #A12C5F, 80: #AC4371, 70: #B65B82, 60: #C17294, 50: #CB8AA6, 40: #D5A1B8, 30: #E0B9CA, 20: #EAD0DB, 10: #F5E8ED);

/// @group primary-colors
$white: #FFFFFF;
// $white: #C1C7CD;

/// @group primary-colors
$text-color: #C4C4C4;

/// @group primary-colors
$charcoal: #282828;


/// SECONDARY COLORS
/// @group secondary-colors
$pink: (100: #ED1164, 80: #F14687, 60: #F9B0CC, 40: #F9B0CC, 20: #FDE5EE);

/// @group secondary-colors
$grey: (100: #404040, 90: #575757, 80: #6E6E6E, 70: #858585, 60: #9D9D9D, 50: #B4B4B4, 40: #CBCBCB, 30: #E2E2E2, 20: #F1F1F1, 10: #F9F9F9);

/// TERITIARY COLORS
/// @group teritiary-colors
$red: #FF2121;

/// @group teritiary-colors
$green: #1FC24E;

/// @group teritiary-colors
$yellow: #FEC600;

/// @group teritiary-colors
$orange: #F17F22;

/// @group teritiary-colors
$snackblue: #145599;

/// @group teritiary-colors
$purple: #9911ED;

/// @group teritiary-colors
$aqua-deep:(100: #12877F, 60: #71b7b2, 20: #D0E7E5);

/// @group teritiary-colors
$aqua-haze-1: #F2F7F6;

/// @group teritiary-colors
$aqua-haze-2: #E6F8F4;


/// NEUTRAL
/// @group neutral-colors
$neutral-lightblue:  #F1F4F7;

/// @group neutral-colors
$neutral-orange: #F9F6EB;

/// @group neutral-colors
$neutral-green: #EFF9EB;

/// @group neutral-colors
$neutral-blue: #EBF0F9;

/// @group neutral-colors
$neutral-red: #F9EBEF;


/// HOVER
/// @group hover-colors
@mixin hover{ background: rgba(237, 17, 100, 0.2); }

/// @group hover-colors
@mixin burgundy-highlight-1 { background: #A81352; }

/// @group hover-colors
@mixin burgundy-highlight-2 { background: #CB125B; }



/// For Modal-1
/// @group scrim-colors
@mixin scrim-modal-1 { background: rgba(147, 138, 136, 0.24); }

/// For Modal-2
/// @group scrim-colors
@mixin scrim-modal-2 { background: rgba(215, 215, 215, 0.3); }

/// For Non-modal
/// @group scrim-colors
@mixin scrim-non-modal { background: rgba(119, 107, 107, 0.15); }