@import '../../sass/theme/default';

.root {
  background: $button-bg;
  border-radius: 0.5rem;
  min-width: auto;
  height: 3rem;
  text-transform: none;
  box-shadow: none;
  
  &:hover {
    @include burgundy-highlight-1;
    box-shadow: none;
  }
  
  // &:focus{
  //   @include burgundy-highlight-2;
  //   box-shadow: none;
  // }
 
  // &:active {
  //   background-color: $button-ripple;
  //   box-shadow: none;
  // }

  &:disabled {
    color: white;
    background-color: $button-disabled;
  }
}

.secondary {
  background: $button-outlined__secondary;
  color: $button-bg;

  &:hover {
    color: $button-bg;
    background: $button-outlined__secondary--hover;
  }
  &:focus {
    color: $button-bg;
    background: $button-outlined__secondary--focus;
  }
  &:active {
    color: $button-ripple;
    background: $button-outlined__secondary--hover;
  }
  &:disabled {
    color: $button-disabled !important;
    background: $button-outlined__secondary !important;
  }
}

.label {
  @include cta-button-2;
  color: $white;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 5;
}

.label_large {
  @include cta-button-1;
  color: $white;
  z-index: 5;
}

.label_medium {
  @include cta-button-2;
  color: $white;
  z-index: 5;
}

.label_small {
  @include cta-button-3;
  color: $white;
  z-index: 5;
}

.label_secondary_large {
  @include cta-button-1;
  color: $button-bg;
  z-index: 5;
  
  &:disabled {
    color: $button-disabled;
  }
}
.label_secondary_medium {
  @include cta-button-2;
  color: $button-bg;
  z-index: 5;
  
  &:disabled {
    color: $button-disabled;
  }
}
.label_secondary_small {
  @include cta-button-3;
  color: $button-bg;
  z-index: 5;
  
  &:disabled {
    color: $button-disabled;
  }
}

.label_icon_small {
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  z-index: 5;
}

.label_icon_medium {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  z-index: 5;
}

.label_icon_large {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  z-index: 5;
}

.label_icon_small_secondary {
  color: $button-bg !important; 
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  z-index: 5;
}

.label_icon_medium_secondary {
  color: $button-bg !important; 
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  z-index: 5;
}

.label_icon_large_secondary {
  color: $button-bg !important;  
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  z-index: 5;
}

.outlined {
  padding: 0;
  border: none;
  // padding-top: 0.75rem;
  // padding-bottom: 0.75rem;
  &:disabled {
    background: $button-disabled;
    cursor: not-allowed;
    border: none;
  }
  &:hover {
    background: $button-bg;
    border: none;
  }
  &:active {
    border: none;
  }
  &:focus {
    /* Primary / burgundy-100 */
    // background: #ED1164;
    // border-radius: 0.5rem;
  }
}

.sizeSmall {
  // min-width: 7.3125rem;
  height: 2rem;
}
.sizeLarge {
  // min-width: 12.25rem;
  height: 3.375rem;
}

.flushButton {
  min-width: 20rem;
  border-radius: 0px;
  display: flex;
  justify-content: center;
}

.endIcon {
  margin: 0;
}

.iconSizeSmall {
  margin: 0;
  // width: 2rem;
  
  & > :first-child {
    font-size: 1rem;
  }
}

.iconSizeMedium {
  // width: 3rem;

  & > :first-child {
    font-size: 1.5rem;
  }
}

.iconSizeLarge {
  // width: 3.375rem; 
  
  .iconSizeLarge > :first-child {
    font-size: 1.5rem;
  }
}

.onlyIconLarge {
  display: flex;
  justify-content: center;
  width: 0.25rem !important;
}
.onlyIconMedium {
  display: flex;
  justify-content: center;
  width: 0.5rem !important;
}

.onlyIconSmall {
  display: flex;
  justify-content: center;
  transform: translateX(-1px);
  width: 0.375rem !important;
}

.label_disabled{
  color: $button-disabled;
}

.textBtn {
  @include text-button;
  color: $button-ripple;
  background: none;
  min-width: auto;
  height: min-content;
  padding: 0;

  &:hover {
    background: none;
  }
  
  &:focus {    
    background: none;
  }
  
  &:active {    
    background: none;
  }

  &:visited {
    background: none;
  }

  &:disabled {
    color: $button-disabled;
    background: none;
  }
}

.progress {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.progPrimary {
  background: $button-ripple;
}

.progSecondary {
  background: $button-ripple-secondary;
}