@import '../../sass/theme/default';

.root {
  position: absolute;
  //margin-left: 0.75rem;
  background: $button-bg;
  border-radius: 0.5rem;
  text-transform: none;
  line-height: 1;
  min-width: auto;
  border: 0px;
}

.label {
  @include cta-button-2;
  // font-family: 'Lato';
  color: $white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.label_only_text {
  padding-top: 2px;
  padding-bottom: 2px;
}

.label_secondary {
  color: $button-bg;
}

.label_icon_small {
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.label_icon_medium {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.label_icon_large {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.outlined {
  padding: 0;
  border: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  &:disabled {
    background: $button-disabled;
    cursor: not-allowed;
    border: none;
  }
  &:hover {
    background: $button-bg;
    border: none;
  }
  &:active {
    border: none;
  }
  &:focus {
    /* Primary / burgundy-100 */
    // background: #ED1164;
    // border-radius: 0.5rem;
  }
}
.sizeSmall {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.sizeLarge {
  padding-top: 10.25rem;
  padding-bottom: 10.25rem;
}

.outlinedSecondary {
  background: $button-outlined__secondary;
  &:hover {
    background: $button-outlined__secondary--hover;
  }
  &:disabled {
    background: $button-outlined__secondary;
  }
}

.flashButton {
  width: 20rem;
  border-radius: 0px;
  display: flex;
  justify-content: center;
}

.endIcon {
  margin: 0;
}

.iconSizeSmall {
  margin: 0;
}
.iconSizeSmall > :first-child {
  font-size: 1rem;
}

.iconSizeMedium > :first-child {
  font-size: 1.5rem;
}

.iconSizeLarge > :first-child {
  font-size: 1.5rem;
}
