@import '../../sass/theme/default';

.rootContainer {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
}

.inputWraper {
  display: flex;
  flex-direction: row;
  width: 18rem;
  overflow-x: scroll;
  scrollbar-width: none;
}

.valueWraper {
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $input-helper-background-color;
  border-radius: 0.25rem;
  width: 5.666875rem;
  height: 2.25rem;

  &:last-child {
    margin: 0.5rem 0rem 0 0;
  }
}

.valueWraperSelected {
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $input-helper-selected-background-color;
    border-radius: 0.25rem;
    width: 5.666875rem;
    height: 2.25rem;
    &:last-child {
        margin: 0.5rem 0rem 0 0;
      }
  }

  .valueSpanSelected {
    @include body-2;
    color: $input-helper-background-color;
    margin: 0.5rem 1.145625rem;
}

.valueSpan {
    @include body-2;
    color: $input-helper-selected-color;
    margin: 0.5rem 1.145625rem;
}