@import '../../sass/theme/default';

.rootContainer {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
}

.inputWraper {
  display: flex;
  flex-direction: row;
  width: 18rem;
}

.valueWraper {
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $inputHelper-valueWrapper-bg;
  border-radius: 0.25rem;
  width: 5.666875rem;
  height: 2.25rem;
}

.valueWraperSelected {
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $inputHelper-valueWrapper-bg-selected;
  border-radius: 0.25rem;
  width: 5.666875rem;
  height: 2.25rem;
  cursor: pointer;
}

.valueSpanSelected {
  @include body-2;
  color: $inputHelper-valueWrapper-bg;
  margin: 0.5rem 1.145625rem;
  cursor: pointer;
}

.valueSpan {
    @include body-2;
    color: $inputHelper-valueWrapper-bg-selected;
    margin: 0.5rem 1.145625rem;
}