.root {
  background-color: #f1f1f1;
}

.smallHorizontal {
  height: 1px;
  width: 99vw;
}

.largeHorizontal {
  height: 0.75rem;
  width: 99vw;
}

.largeVertical {
  width: 0.75rem;
  height: 99vh;
}

.smallVertical {
  width: 1px;
  height: 99vh;
}
