@import '../main.scss';

/// Default 
/// @group buttons
$button-bg: map-get($burgundy, 100);

/// Outlined Secondary 
/// @group buttons
$button-outlined__secondary: map-get($grey, 10);

/// Outlined Secondary hover state
/// @group buttons
$button-outlined__secondary--hover: map-get($grey, 20);

/// Outlined Secondary focus state
/// @group buttons
$button-outlined__secondary--focus: map-get($grey, 30);

/// Disabled State
/// @group buttons
$button-disabled: map-get($grey, 50);

/// Ripple Color
/// @group buttons
$button-ripple: map-get($pink, 100);