@import '../main.scss';

$checkbox-label: $charcoal;
$checkbox-square: map-get($grey, 80);
$checkbox-checked: map-get($pink, 100);
$checkbox-disabled: map-get($grey, 50);

$checkbox-hover-checked: map-get($pink, 80);
$checkbox-hover-unchecked: map-get($grey, 100);
