.root {
    background: #F2F7F6;
    
}

.input {

}

.focused {
    color: green;
}

.labelRoot {
    /* Component / Body / body-1 */
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.16px;

    /* Secondary / Grey / grey-70 */

    color: #858585;
    border: 1px solid red;
}

.inputRoot{
    border-bottom: 2px solid #71B7B2;
    &:hover{
        background: #E6F8F4;
        border: none;
    }
    &:before {
        border-bottom: none;
    }
    &:after {
        border-bottom: none;
    }

}