@import '../../sass/theme/default';

.root {
  background: $textfield--root__bg;
  width: 18rem;
  height: 3.5rem;
}

.labelRoot {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.16px;
  color: $textfield--labelRoot;

  &Focused {
    color: $textfield--labelRoot__focused !important;
  }

  &Disabled {
    color: $textfield--labelRoot__disabled !important;
  }

  &Error {
    color: $textfield--labelRoot__error !important;
  }
}

.inputRoot {
  border-bottom: 2px solid $textfield--inputroot;

  &:disabled {
    background-color: red !important;
  }

  &Disabled {
    background: $textfield-disabled__bg;
    
    & > * {
      background: $textfield-disabled__bg;      
    }

    &:before {
      border: none;
    }
  }

  &:hover {
    background: $textfield--inputroot__hover;

    &:before {
      border: none;
    }
  }
  
  &:before {
    border-bottom: none;
  }
  
  &:after {
    border-bottom: none;
  }
}

.inputAdornment {
  color: $textfield--inputAdornment;

  &:before {
    border: none;
  }

  &Suffix{
    color: $textfield--labelRoot;
    transform: translate(-4px, 9px);
    margin-right: -5px;
  }
}

.displayAdornment {
  display: none;
}

.suffix {

  & > * {
    text-align: end;
  }
}

.errorIcon {
  color: $textfield--labelRoot__error;
}

.disabled {
  background-color: $textfield-disabled__bg !important;
  border-bottom: 2px solid $textfield--labelRoot__disabled;
  

  &:before {
    border: none !important;
  }
}