@import '../../sass/theme/default';

.root {
  color: $checkbox-square;
  margin-bottom: -0.625rem;

  &:hover {
    background-color: rgba($checkbox-hover-unchecked, 0.08);
  }

  &:focus {
    background-color: rgba($checkbox-hover-unchecked, 0.08);
    transition: none;
  }
}

.checked {
  color: $checkbox-checked;

  &:hover {
    background-color: rgba($checkbox-hover-checked, 0.08);
  }

  &:focus {
    background-color: rgba($checkbox-hover-checked, 0.08);
    transition: none;
  }
}

.disabledChecked {
  color: $checkbox-disabled;
}

.label {
  @include body-2;
  transform: translate(-0.375rem, 0.3125rem);
  color: $checkbox-label;
}

.formLabel {
  @include body-3;
  color: $checkbox-label !important;
  text-transform: capitalize;
}
