@import '../../sass/theme/default';
$defaultBg: #ebf0f9;
$defaultText: #145599;

$successMediumBg: #00cb48;
$pendingMediumBg: #f17f22;
$warningMediumBg: #ff2121;

$successSmallBg: #eff9eb;
$pendingSmallBg: #f9f6eb;
$warningSmallBg: #f9ebef;

$infoBg: #f1f4f7;
$infoText: #282828;

$white: #ffffff;

//MEDIUM SIZE STYLES
.rootMedium {
  height: 1.125rem;
  line-height: 0.625rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: $chip-text__default;
  background-color: $chip-bg__default;
  font-size: 0.625rem;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  & > * {
    padding: 0;
  }
}

.successMedium {
  background-color: $chip-bg--medium__success;
  color: $white;
}

.pendingMedium {
  background-color: $chip-bg--medium__pending;
  color: $white;
}

.warningMedium {
  background-color: $chip-bg--medium__warning;
  color: $white;
}

.info {
  background-color: $chip-bg__info;
  color: $chip-text__info;
}

//SMALL SIZE STYLES
.rootSmall {
  height: 1.125rem;
  line-height: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: $chip-text__default;
  background-color: $neutral-blue;
  font-size: 0.625rem;
  letter-spacing: 0.32px;
  text-transform: capitalize;

  & > * {
    padding: 0;
  }
}

.successSmall {
  background-color: $chip-bg--small__success;
  color: $chip-bg--medium__success;
}

.pendingSmall {
  background-color: $chip-bg--small__success;
  color: $chip-bg--medium__pending;
}

.warningSmall {
  background-color: $chip-bg--small__warning;
  color: $chip-bg--medium__warning;
}

.info {
  background-color: $chip-bg__info;
  color: $chip-text__info;
}
