@import '../../sass/theme/default';

.root {
  height: 35.5rem;
  width: 20rem;
}

.modal1 {
  background-color: rgba($skrim--model1, 0.24);
}

.modal2 {
  background-color: rgba($skrim--model2, 0.3);
}

.nonModal {
  background-color: rgba($skrim--nonmodel, 0.15);
}
