.root {
  height: 35.5rem;
  width: 20rem;
}

.modal1 {
  background-color: rgba(147, 138, 136, 0.24);
}

.modal2 {
  background-color: rgba(215, 215, 215, 0.3);
}

.nonModal {
  background-color: rgba(119, 107, 107, 0.15);
}
