.root > * > * > * {
  color: #97144d !important;
  cursor: pointer;

  &:hover {
    color: #97144d;
  }

  &:active {
    color: #97144d;
  }

  &:focus {
    outline: none;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-thickness: 2px;
  }

  &:disabled {
    color: #b4b4b4;
    pointer-events: none;
  }

  &:visited {
    color: #9911ed;
  }
}

// .li > * {
//   background-color: transparent;

//   & > *:focus {
//     background: none;
//     text-decoration: underline 2px;
//   }

//   &:focus {
//     // outline: none;
//     color: #97144d;
//     background-color: transparent;
//   }

//   &:active {
//     color: #282828;
//     background-color: transparent;
//     text-decoration: underline;
//   }

//   &:focus {
//     outline: none;
//     background-color: transparent;
//     text-decoration: underline;
//     text-underline-offset: 1px;
//     text-decoration-thickness: 2px;
//   }

//   &:disabled {
//     color: #b4b4b4;
//     pointer-events: none;
//   }

//   &:visited {
//     color: #9911ed;
//   }
// }

.active {
  color: #282828 !important;
}
